* {
  --melon-color: #b4edc0;

  caret-color: var(--melon-color);
}

*::selection {
  background-color: var(--melon-color);
  color: #000 !important;
}

.clip[data-v-4a749ade]::selection {
  background-color: -webkit-linear-gradient(120deg, var(--rainbow-prev) 30%, var(--rainbow-next));
}